@charset "utf-8";

@media screen and (max-width:600px) {
    #wrap {
        width: 100%
    }

    #wrap .header {
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 1);
        position: fixed;
        z-index: 5;
    }

    .header .login {
        position: absolute;
        top: 15%;
        left: 4%;
    }

    .header .login a {
        text-decoration: none;
        color: #fff;
        font-size:2.5vw;
        font-weight:500;
    }
    .header .login a:hover{color:#ce96fb;font-weight:600;}

    .header i {
        font-size: 4vw;
        color: #ffff;
        cursor: pointer;
        position: absolute;
        right: 2%;
        top: 25%;
    }

    .header img {
        position: absolute;
        top: 25%;
        left: 40%;
        width: 25%;
    }

    .header nav {
        margin-top:10%;
        position: relative;
       
    }

    .header nav .main_list {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        display: none;
        width: 100%;
        position: absolute;
        right: 1%;
        text-align: end;
    }

    .header nav .main_list.toggle {
        display: flex;
    }

    .header nav .main_list>li {
        width: 100%;
        font-weight: 800;
        padding: 2%;
        background-color: rgba(0, 0, 0, 1);
    }

    nav li a {
        color: white;
        font-size: 3vw;
        text-decoration: none;
        font-family: 'Nanum Gothic', sans-serif;
    }


    .main_list>li>a:hover {
        color: #ce96fb;
    }

    .sub_list {
        width: 80%;
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        display: none;
    }

    .sub_list ul {
        width: 100%;
        float:right;
    
    }

    .sub_list li {
       float:right;
        width: 25%;
        text-align: center;
        padding:2.5% 0;
    }

    .sub_list li a {
        color: #fff;
        font-size: 2.1vw;
        font-family: 'Nanum Gothic', sans-serif;
       
    }
    
    
    .sub_list li a:hover {
        /* text-decoration: underline;
        text-decoration-color:#ce96fb; */
        color:#ce96fb;

    }

    nav:hover .sub_list {
        display: block;
    }



    footer {
        width: 100%;
        height: 300px;
        background: #e3d7ea;
    }

    #foot {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    #footer_a {
        overflow:hidden;
    }

    #footer_a ul li {
        float: left;
        margin:4%;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    #footer_a ul li:after {
        content: "|";
        font-size: small;
        margin-left: 30%;
        color: black;
    }

    #footer_a ul li a {
        text-decoration: none;
        color: #333;
        font-size: 2.3vw;
        font-weight:900;
    }
    #footer_a ul li a:hover{color:white;font-weight:900;}

    .footer_left img {
        margin: 5%;
        max-width:30%;
    }

    .footer_left p {
        font-size: 2.3vw;
        margin: 2% 3%;
    }

    .footer_left p:nth-of-type(4) {
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 1%;
    }

    #footer_b {
        display: none;
    }
}



@media screen and (min-width:601px) and (max-width:1439px) {
    #wrap {
        width: 100%
    }

    #wrap .header {
        width: 100%;
        background: rgba(0, 0, 0, 1);
        position: fixed;
        top: 0;
        z-index: 5;
    }

    .header .login {
        position: absolute;
        top: 10px;
        right: 2%;
        font-size: 16px;
        z-index:7;
    }

    .header .login a {
        text-decoration: none;
        color: white;
    }
    .header .login a:hover{color:#ce96fb;cursor:pointer;}
    

    .header i {
        display: none;
    }

    .header>img {
        position: absolute;
        top: 50%;
        left: 44%;
        width:110px;
       }

    .header nav {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        position: relative;
    }

    .header nav .main_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
    }

    .header nav .main_list>li {
        width:7%;
        font-weight: 900;
        text-align: center;
        padding-bottom: 25px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .main_list>li>a:hover {
        color: #ce96fb;
    }

    .sub_list {
        width: 100%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: 100px;
        left: 0;
        display: none;
    }

    .sub_list ul {
        width: 20%;
    }

    .sub_list li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .sub_list li a {
        color: black;
        font-size: 12px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .sub_list li:hover {
        background-color: #ce96fb;
    }

    nav:hover .sub_list {
        display: flex;
    }



    footer {
        width: 100%;
        height: auto;
        background: #e3d7ea;
    }

    #foot {
        width: 100%;
        margin: 0 auto;
        text-align:center;
    }

    #footer_a{overflow:hidden;}


    #footer_a ul li {
        float: left;
        margin:4% 5%;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    #footer_a ul li:after {
        content: "|";
        font-size: small;
        margin-left:50%;
        color: black;
    }

    #footer_a ul li a {
        text-decoration: none;
        color: #333;
        font-size: 1.6vw;

    }

    #footer_a ul li a:hover{color:#fff;}
    .footer_left img {
        margin:3% 80% 3% 5%;
        width:20%;
    }

    .footer_left p {
        font-size: 1.5vw;
        margin:1% 0;
        margin-left:4%;
        text-align:left;
    }

    .footer_left p:nth-of-type(4) {
        font-weight: bold;
        margin-top:1.5%;
        margin-bottom:2%;
    }

    #footer_b {
        display: none;
    }
}




@media screen and (min-width:1440px) {
    #wrap {
        width: 100%
    }

    #wrap .video {
        width: 100%;
        height: 970px;
        overflow: hidden;
        position: relative;
    }

    .video video {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #wrap .header {
        width: 100%;
        background: rgba(0, 0, 0, 1);
        position: fixed;
        top: 0;
        z-index: 5;
    }

    .header .login {
        position: absolute;
        top: 10px;
        right: 4%;
        font-size: 18px;
        z-index:7;
    }

    .header .login a {
        text-decoration: none;
        color: white;
    }
    .header .login a:hover{color:#ce96fb;}

    .header i {
        font-size: 23px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 15%;
        display: none;
    }

    .header>img {
        position: absolute;
        top: 45%;
        left: 45%;
        width:150px;
    }

    .header nav {
        width: 1440px;
        height: 130px;
        margin: 0 auto;
        position: relative;
    }

    .header nav .main_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
    }

    .header nav .main_list>li {
        width: 205px;
        font-weight: 800;
        text-align: center;
        padding-bottom: 25px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
    }

    .main_list>li>a:hover {
        color: #ce96fb;
    }

    .sub_list {
        width: 100%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        top: 130px;
        left: 0;
        display: none;
    }

    .sub_list ul {
        width: 205px;
    }

    .sub_list li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .sub_list li a {
        color: black;
        font-size: 14px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        text-align: center;
    }

    .sub_list li:hover {
        background-color: #ce96fb;
    }

    nav:hover .sub_list {
        display: flex;
    }


    footer {
        width: 100%;
        height: 450px;
        background: #e3d7ea;
    }

    #foot {
        width: 1440px;
        height: 450px;
        margin: 0 auto;
    }

    #footer_a {
        float: left;
    }

    #footer_a ul li {
        float: left;
        margin: 60px 20px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    #footer_a ul li:after {
        content: "|";
        font-size: small;
        margin-left: 28px;
        color: black;
    }

    #footer_a ul li a {
        text-decoration: none;
        color: #333;
        font-size: 17px;
        
    }
    #footer_a ul li a:hover{color:#fff;font-weight:900;
    }

    .footer_left img {
        margin: 30px 20px 40px;
    }

    .footer_left p {
        font-size: 14px;
        margin: 10px 15px 0;
    }

    .footer_left p:nth-of-type(4) {
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    #footer_b {
        float: right;
        background: #c8c1e4;
        height: 450px;
    }

    #footer_b>p {
        font-size: 28px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
        margin: 70px 60px 0;
    }

    #footer_b>input {
        width: 400px;
        height: 45px;
        background: #a2a4dd;
        border: none;
        margin: 30px 60px 5px;
    }

    #footer_b>input:nth-of-type(2) {
        margin-top: 15px
    }

    #checkbox p {
        font-size: 14px;
        margin: 20px 60px;
    }

    #footer_b button {
        width: 180px;
        height: 40px;
        background: #a2a4dd;
        border: none;
        border-radius: 5px;
        margin: 20px 30px 10px 60px;
    }

    #footer_b button:nth-of-type(2) {
        margin-left: 6px;
    }
}