@charset "utf-8";

*{margin:0; padding:0;}
ul,li,ol{list-style:none;margin:0; padding:0;}



#wrap{width:100%}

#wrap .video{width:100%;height:950px;overflow:hidden;position:relative;}
.video video{width:100%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}

#wrap .header{width:100%;background:rgba(0,0,0,0.8);position:fixed;top:0;z-index:5;}
.header .login{position:absolute;top:10px; right:14%;font-size:18px;color:white;}
.header i{font-size:23px;color:white;cursor:pointer;position:absolute;top:10px;left:15%;display:none;}
.header nav{width:1440px;height:130px;margin:0 auto;}
.header nav ul{height:100%;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;}
.header nav ul li{width:205px; height:60px;font-family: 'Nanum Gothic', sans-serif;font-weight:800;text-align:center;line-height:90px;}
.header nav li a{text-decoration:none;color:white;font-size:30px;}
nav li a:hover{color:#ce96fb;}

.sub_list{width:206px;line-height:0;margin:0 auto;background:rgba(255,255,255,0.6);display:none;}
.sub_list ul li{width:100%;}
.sub_list ul li a{color:black; font-size:14px;font-family: 'Nanum Gothic', sans-serif;font-weight:800;text-align:center;padding:10px 0 0;}
.sub_list ul li:hover{background-color:#ce96fb;}
.header nav ul:hover .sub_list{display:block;}







#section_a{width:1440px;height:1100px;margin:0 auto; position:relative;}
#section_a h1{font-size:50px; text-align:right;padding:70px 10px;}
#section_a .seca{width:28%;height:620px;position:absolute;margin:10px 0;}
#section_a .seca:nth-of-type(1){top:80px; left:0;background-image:url(../img/sec11.jpg);background-size:cover;}
#section_a .seca:nth-of-type(2){top:230px; left:500px;background-image:url(../img/sec12.jpg);background-size:cover;}
#section_a .seca:nth-of-type(3){top:360px; left:1000px;background-image:url(../img/sec13.jpg);background-size:cover;}
#section_a .seca p{font-size:20px; width:75%;text-align:left;background:rgba(255,255,255,1);margin:550px 0 0;font-family: 'Nanum Gothic', sans-serif;font-weight:600;padding:20px 0;}
.seca h6{font-size:13px;width:74%;text-align:left;color:#333;}


#section_b{width:100%; height:900px;background:#e3d7ea;}
#section_b .sect_b{width:1440px; height:900px;margin:0 auto;display:flex;flex-flow:row wrap;justify-content:space-between;}
.sect_b h2{font-size:50px;text-align:center; margin:80px 420px 0;}
.sect_b h5{font-size:25px; text-align:center;margin:0 470px;}
.sect_b .secb{display:flex;flex-flow:column wrap;align-items:center;}
.sect_b .secb img{width:270px; height:380px;margin:5px;}
.sect_b .secb p{margin-top:8px;}
.sect_b .secb a{text-decoration:none;font-size:21px;color:#333;}




#section_c{width:1440px; height:990px;margin:0 auto;}
#section_c h2{text-align:right;font-size:60px;padding:80px 30px 30px;}
#section_c .secc{height:800px;background-image:url(../img/sec31.jpg);background-size:cover;background-position:center;position:relative;}
.secc_text{width:70%; height:75%;background-color:rgba(227,215,234,0.7);text-align:right;position:absolute; top:100px;right:0;}
.secc_text p{font-size:50px;padding:250px 50px 0;}
.secc_text h6{font-size:30px; padding:10px 50px 0;}
.secc_text button{background:black; border:none; padding:8px 15px; border-radius:6px; margin:30px 50px 0;}
.secc_text button a{text-align:center;text-decoration:none; color:white;font-family: 'Nanum Gothic', sans-serif;font-weight:700;}
.secc_text button a:hover{color:#80bfb5;}

#section_d{width:1440px; height:500px;margin:0 auto;}
#section_d img{width:900px; height:400px;float:left; margin:40px 0px;overflow:hidden;}
#section_d h2{font-size:50px;text-align:center; padding:150px 0 10px;}
#section_d p{font-size:25px;text-align:center;margin:30px 0 10px;}
#section_d button{background:#333; border:none; border-radius:6px;padding:15px 30px;margin:25px 0 0 200px;font-size:15px;color:white}
#section_d button:hover{background-color:#a2a4dd;color:white;cursor:pointer;}


footer{width:100%; height:350px;background:#e3d7ea;}
#foot{width:1440px;height:350px; margin:0 auto;}
#footer_a{float:left;}
#footer_a ul li{float:left;font-size:17px;margin:40px 20px;font-family: 'Nanum Gothic', sans-serif;font-weight:700;}
#footer_a ul li:after{content:"|";font-size:small;margin-left:25px;color:black;}
#footer_a ul li a{text-decoration:none;color:#333;}
/* .footer_right{float:right; margin:-190px 50px 0 0;}
.footer_right h6{font-size:18px;} */
.footer_left img{margin-top:-30px;}
.footer_left p{font-size:13px;margin:3px 10px 0;}
.footer_left p:nth-of-type(4){font-weight:bold;margin-top:20px;margin-bottom:10px;}

#footer_b{float:right;background:#c8c1e4;}
#footer_b>p{font-size:28px;font-family: 'Nanum Gothic', sans-serif;font-weight:700;margin:40px 60px 0;}
#footer_b>input{width:400px; height:50px;background:#a2a4dd;border:none;margin:40px 60px 0;}
#footer_b>input:nth-of-type(2){margin-top:10px}
#checkbox p{font-size:13px;margin:15px 60px 0;}
#footer_b button{width:180px; height:40px;background:#a2a4dd;border:none;border-radius:5px;margin:15px 30px 10px 60px;}
#footer_b button:nth-of-type(2){margin-left:6px;}








