@charset "utf-8";

@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}/* <λ©”μΈν°νΈ> */

* {
    margin: 0;
    padding: 0;
    font-family: 'SUITE-Regular';
    box-sizing:border-box;
    text-decoration:none;
}

ul,li,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sub_show{width:1440px;
          height:100vh;
          background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
          margin:0 auto;
          box-sizing:border-box;
          text-align:center;
          overflow:hidden;
          position:relative;}

 .circle{border-radius:50%; background-color:#29324A;
         width:1116px;height:120%;position:absolute;left:-550px;top:-100px;}


 .left_menu{position:absolute;top:30%;left:3%;;width:25%;height:50%;}
 .left_menu span{margin:5%;text-align:left;color:#ffd1ff;}
 .left_menu>p{font-size:3em;font-weight:700;margin:15% 0 50%;color:#fff;}

 .btn {
    margin:0 25%;
    overflow: hidden;
    display: block;
    position: relative;
    width: 160px;
    margin-top: 30px;
    border: 1px solid #ffd1ff;
    font-size:15px;
    line-height: 54px;
    text-align: center;
    color: white;
    -webkit-transition: color .4s;
    transition: color .4s;
    z-index:3;
  }
  .btn p{position:relative;z-index:3;letter-spacing:2px;}
  
  .btn span {
    position: absolute;
    /* z-index: -1; */
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color:#ffd1ff;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
  }
  
  .btn:hover {
    color:#29324A;
   
  }
  
  .btn:hover span {
    width: 350px;
    height: 350px
  }
  

          
 .right_menu{position:absolute;top:10%;left:30%;width:1025px;height:80vh;overflow:hidden;}
 .right_menu>h1{font-size:3vw;text-align:right;margin:4% 5% -6%;}
 .wrap{display:flex;width:2160px;}
 .right{width:360px;height:48vh;background-color:rgba(255,255,255,0.4); margin: 6% 1%;border-radius:38%;}
 .right img{margin:10% 5% 0;}
 .right>p:nth-of-type(1){font-weight:900;font-size:1.3em;color:#070711;}
 .right>p:nth-of-type(2){font-size:0.8em;margin:5% 10%;}

 .btn1{background:rgba(253,277,277,0.2); margin:6% auto;
                width:100px; height:30px; transition:.2s;cursor:pointer;
                box-shadow:0px 2px 5px rgba(0,0,0,.2);border-radius:5px;border:none;font-size:10px;overflow:hidden;}
 .btn1Text{padding:7px;font-size:11px;font-weight:600;} 
 .btnText a{color:#070711;}           
 .btn2{position:relative;width:80px;height:35px;background:#29324A;transition:.3s;border:none;left:-100px;top:-30px;}
 .btn2Text{color:#fff;text-align:right;font-size:13px;padding:8px;}
 .btn1:hover .btn1Text{margin-left:44px;}
 .btn1:hover .btn2{left:-40px;}






#sub_buy{width:1440px;
         height:100vh;
         background-color:black;
        margin:0 auto;}




        


#sub_review{width:1440px;
            height:100vh;
         background-color:mistyrose;
        margin:0 auto;}

